* {
    box-sizing: border-box;
}

html, body, footer {
    margin: 0;
    padding: 0;
}

.nav a{
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:first-child {
    padding-left: 0;
}

.nav a:hover {
    color: #18353a;
}

header {
    padding: 1em;
    color: #000000;
    background-color: #34a8b9;
    background-size: cover;
    padding-bottom: 30px;
}

main {
    padding: 1em;
    padding-bottom: 800px;
}

footer {
    padding: 1em;
    background-color: #000000;
    padding-bottom: 50px;
}

.Addition-Form input{
    width: 390px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-wrap: wrap;
    word-wrap: break-word;
}

.search-form input, textarea {
    width: 100%;
}

.search-table table, th, tr, td{
    text-align: center;
    border: 1px solid black;
}

.table-description {
    width: 40%;
    height: fit-content;
    word-break: break-all;
}